{% extends 'layout.html' %}
{% block content %}
<div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">修改学生</h3>
            </div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="{{ info.name }}" name="name">
                        <input type="text" class="form-control" placeholder="{{ info.gender }}" name="gender">
                        <input type="text" class="form-control" placeholder="{{ info.age }}" name="age">
                        <input type="text" class="form-control" placeholder="{{ info.phone }}" name="phone">
                    </div>
                    <button type="submit" class="btn btn-primary">修 改</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}